
body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#info {
  z-index: 1000;
  position: absolute;
  width: 500px;
  top: 1%;
  bottom: 1%;
  left: .5%;
  padding: 30px 20px;
  overflow-y: auto;
  background: #343a40;
  color: white;
}

#info a {
  color: lightgray;
}

#info a:hover {
  color: white;
  opacity: 0.3;
}

#title {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

#title span {
  font-size: 14px;
  float: right;
  margin-right: 10px;
}

#desc {
  text-align: center;
  color: lightgray;
  font-weight: bold;
  margin-bottom: 0;
}

#neighborhood-count {
  margin: 0;
  text-align: center;
  color: #f4a261;
  font-size: 48px;
}

#education-chart {
  margin-top: 20px;
}

#footer {
  position: absolute;
  bottom: 0px;
  margin-bottom:20px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 150%;
  color: lightgray;
}

#legend {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
  background: #fff;
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.c3 text {
  fill: gray;
}

.tick line,
.c3-axis path {
  stroke: gray;
}

.name, .value {
  background-color: black;
  color: black
}
